@font-face {
    font-family: 'Kaisei';
    font-weight:400;
    src: url("../../assets/fonts/Kaisei/KaiseiDecol-Regular.ttf") format('truetype');
         
}

@font-face {
    font-family: 'Kaisei';
    font-weight:500;
    src: url("../../assets/fonts/Kaisei/KaiseiDecol-Medium.ttf") format('truetype');
         
}

@font-face {
    font-family: "Kaisei";
    font-weight:700;
    src: url("../../assets/fonts/Kaisei/KaiseiDecol-Bold.ttf") format('truetype');     
}

@font-face {
    font-family: "Katibeh";
    font-weight:400;
    src: url("../../assets/fonts/Katibeh/Katibeh-Regular.ttf") format('truetype');     
}