//COLORS
$primary-color:#535C91;

$background-color:#181C2C;

$text-gradient-color:#9290C3;
$primary-text-color:#2A2525;
$skill-background-color:#37364A;

//SPACING
$extra-small-spacing:.5rem;
$small-spacing:1rem;
$medium-spacing:1.5rem;
$large-spacing:2rem;
$extra-large-spacing:2.5rem;

//MOBILE TEXT STYLES
$m-logo-fs:1.125rem;
$m-nav-link-fs:.875rem;
$m-main-heading-fs:1.625rem;
$m-secondary-heading-fs:1.75rem;
$m-tertiary-heading-s:1.375rem;
$m-body-fs:.875rem;
$m-contact-link-fs:.875rem;

$m-skills-tab-fs:1rem;
$m-skill-name-fs:.875rem;
$m-skill-text-fs:.875rem;

$m-project-title-fs:1.25rem;
$m-project-feature-fs:.875rem;
$m-project-link-fs:.875rem;
$m-project-text-fs:.875rem;
$m-project-skill-fs:.75rem;

$m-label-fs:.875rem;
$m-button-fs:.875rem;

$m-footer-heading-fs:1.25rem;

//TABLET TEXT STYLES
$t-logo-fs:1.375rem;
$t-nav-link-fs:1.125rem;
$t-main-heading-fs:2.625rem;
$t-secondary-heading-fs:1.75rem;
$t-tertiary-heading-s:1.375rem;
$t-body-fs:.875rem;
$t-contact-link-fs:1.125rem;

$t-skills-tab-fs:1.125rem;
$t-skill-name-fs:.875rem;
$t-skill-text-fs:.875rem;

$t-project-title-fs:1.125rem;
$t-project-feature-fs:.875rem;
$t-project-link-fs:.875rem;
$t-project-text-fs:.875rem;
$t-project-skill-fs:.75rem;

$t-label-fs:.875rem;
$t-button-fs:.875rem;

$t-footer-heading-fs:1.75rem;

//DESKTOP TEXT STYLES
$d-logo-fs:1.375rem;
$d-nav-link-fs:1.125rem;
$d-main-heading-fs:3.125rem;
$d-secondary-heading-fs:2rem;
$d-tertiary-heading-s:1.375rem;
$d-body-fs:1rem;
$d-contact-link-fs:1.125rem;

$d-skills-tab-fs:1.125rem;
$d-skill-name-fs:.875rem;
$d-skill-text-fs:.875rem;

$d-project-title-fs:1.25rem;
$d-project-feature-fs:1rem;
$d-project-link-fs:.875rem;
$d-project-text-fs:.875rem;
$d-project-skill-fs:.75rem;

$d-label-fs:.875rem;
$d-button-fs:1rem;

$d-footer-heading-fs:2rem;



//DESKTOP MAX WIDTH

$desktop-max-width:64rem;