@use '../../styles/partials/mixins' as *;
@use '../../styles//partials/variables'as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/animations' as *;

/* PROJECT */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.37rem;
  }
  
  @media only screen and (min-width: 768px) {
    .projects-container {
      justify-content: space-evenly;
      gap: min(4vw, 3rem);
    }
  }
  
  @media only screen and (min-width: 1080px) {
    #qrp {
      content: url("../../assets/images/projects/qrp-desktop.png");
    }
    #sabfit {
      content: url("../../assets/images/projects/sabfit-desktop.png");
    }
    #flf {
      content: url("../../assets/images/projects/flf-desktop.png");
    }
    #skoro {
      content: url("../../assets/images/projects/skoro-desktop.png");
    }
  }