@use '../../styles/partials/mixins' as *;
@use '../../styles//partials/variables'as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/animations' as *;

.skills{

    @include tablet{
      margin-top:2rem
    }
    
    &__navigation{
        margin: 0 auto;
        width: 80%;
        height: 2.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.625rem 0.625rem 0rem 0rem;
        background-color: #9290c3;
        position: relative;
        top: 3px;
        @include tablet{
            background-color:$primary-color ;
            justify-content: flex-start;
        }
        @include desktop{
            width: 60%;
            margin: 0;
           
        }
    }
    &__icon{
        height:1.5rem;
        filter: invert(100%);
        position: absolute;
        top:.5rem;
        
        &--right{
            @extend .skills__icon;
            right:.25rem;
            @include tablet{
                display:none
            }
        }
        &--left{
            @extend .skills__icon;
            transform: rotate(180deg);
            left:.25rem;
            @include tablet{
                display:none
            }
        }
    }
    
    
    &__tab{
        font-size: 1rem;
        font-weight: 500;
        display:none;
        @include tablet{
            display:flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            border-radius: .625rem .625rem 0 0;;
            height:100%;
            cursor: pointer;
        }
        &--selected{
            @extend .skills__tab;
            background-color: $text-gradient-color;
            display: flex;
        }
    }
    &-container{
        width: 80%;
        margin: 0 auto;
        border-radius: 0 0 1.25rem 1.25rem;
        border: 3px solid #535c91;
        padding: 1rem;
        @include tablet{
          width:90%;
          border-radius:1.25rem ;
          padding:2rem
        }
        @include desktop{
            width:100%;
            border-radius: 0 1.25rem 1.25rem 1.25rem;
            display: flex;
            gap:3rem
        }
    }
    &__list{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        @include desktop{
            justify-content: space-between;
        }
    }
    &__description-container{
        margin-top: 1rem;
        padding: 1rem;
        background: linear-gradient(
        109deg,
        #9290c3 3.17%,
        #535c91 20.14%,
        #535c91 69.96%,
        #9290c3 98.29%
        );
        border-radius: 1.25rem;
        position: relative;
        z-index: -2;
        @include desktop{
            margin-top: 0;
            padding: 2rem;
        }
    }
    &__content{
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__paragraph{
        font-size: .875rem;
        @include desktop{
            font-size: 1rem;
        }
    }
}
  
.blur {
    border-radius: 1.25rem;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(254, 254, 255, 0.1);
    backdrop-filter: blur(25px);
    z-index: -1;
}
