@use '../../styles/partials/mixins' as *;
@use '../../styles//partials/variables'as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/animations' as *;

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3.8rem;

  &_name{
    margin:0 auto;
    text-align: center;
    font-size: 1.625rem;
    font-weight: 700;
    background: linear-gradient(90deg, #9290c3 0%, #fcfcff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1.13rem;
    position: relative;
    z-index:4;
    &--subheader{
      display: block;
    }
    @include tablet{
        font-size: 2.625rem;
        margin-bottom: 2.75rem;
    }
    @include desktop{
      font-size: 3.125rem;
      margin-bottom: 2rem;
    }
    }

    &_paragraph{
      margin-bottom: 1rem;
    }
    &_interests_list{
      list-style-type: disc;
      margin-left: 1.2rem;
    }
    &_interest{
      font-size: 0.875rem;
    }
  }

.profile_image {
  width: 15rem;
  height: 20rem;
  object-fit: cover;
  object-position: center;
  align-self: center;
  border-radius: 7.7rem;
  overflow: hidden;
  border: 0.56rem solid #181c2c;
  outline: 1px white solid;
  margin-bottom: 1.22rem;
}
  
  
.layout-wrapper {
  display: flex;
  flex-direction: column;
  
}
  
  @media only screen and (min-width: 768px) {
    .layout-wrapper {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }
    .content-wrapper {
      width: 50%;
    }
  
    .contact_icons {
      max-width: 100%;
      margin-top: 2rem;
      column-gap: normal;
      row-gap: normal;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }
  
    .contact_link p {
      font-size: 1.125rem;
      font-weight: 700;
    }
    .icon-container {
      width: 3.75rem;
      height: 3.75rem;
    }
    .contact_icon {
      width: 1.875rem;
    }
    .resume {
      height: 1.875rem;
    }
  }
  
  @media only screen and (min-width: 1080px) {
    .about {
      margin-top: 2.5rem;
    }
    .about_interest {
      font-size: 1rem;
    }
    .layout-wrapper {
      align-items: center;
    }
    .profile_image {
      width: 20.3rem;
      height: 29.26875rem;
      border-radius: 11rem;
      order: 2;
    }
    .content-wrapper {
      width: 28%;
      order: 1;
      align-self: center;
    }
    .contact_icons {
      width: 28%;
      flex-direction: column;
      gap: 1.25rem;
      order: 3;
    }
    .contact_link {
      flex-direction: row;
      width: 9.4rem;
      justify-content: flex-start;
      gap: 0.75rem;
    }
  }