@use '../../styles/partials/mixins' as *;
@use '../../styles//partials/variables'as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/animations' as *;

.skill {
    display: flex;
    width: 9.0625rem;
    height: 2.8125rem;
    padding: 0.6rem 0.5rem;
    align-items: center;
    border-radius: 0.3125rem;
    background-color: #37364a;
    cursor: pointer;
    @include tablet{
      width: 10rem;
    }
    &:hover{
        background: linear-gradient(95deg, #37364A 1.25%, #9290C3 20.72%, #37364A 100%);
    }
    &_icon{
        font-size: 1.375rem;
    }
    &_name{
        text-transform: uppercase;
        flex-grow: 1;
        text-align: center;
    }
}
@include tablet {
    .skill_navigation {
      justify-content: space-evenly;
      background-color: #535c91;
      width: 92%;
      max-width: 43rem;
    }
    .skill_tab {
      font-size: 1.125rem;
      font-weight: 500;
      width: 33%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .skill-container {
      border-radius: 1.25rem;
      width: 100%;
      max-width: 46rem;
      padding: 2.75rem 3rem;
    }
    .skill_list {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 2rem;
      column-gap: 2.3rem;
    }
  
    .skill_description-container {
      margin-top: 2rem;
      padding: 1.3rem 2.75rem;
    }
  }
  
  @include desktop{
    .skill_navigation {
      justify-content: space-evenly;
      background-color: #535c91;
      width: 70%;
      margin: 0;
    }
    .skill-container {
      border-radius: 0 1.25rem 1.25rem 1.25rem;
      max-width: 100%;
      padding: 2rem;
      padding-left: 0;
      padding-right: 3rem;
      display: flex;
      justify-content: space-between;
    }
    .skill_list {
      row-gap: 1rem;
      column-gap: 2rem;
    }
    .skill_description-container {
      width: 90%;
      height: 90%;
      margin-top: 0;
    }
    .skill_content {
      height: 100%;
    }}