
@use '../../styles/partials/mixins' as *;
@use '../../styles//partials/variables'as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/animations' as *;

.footer {
  background-color: #535c91;
  margin-top: 3rem;
  padding: 1.5rem 1.2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  @include tablet{
    padding: 1.5rem 0;
  }

  &__design {
    position: absolute;
    height: 6rem;
    width: 100%;
    top: -5.9rem;
    left: 0;
    background-color: #535c91;
    z-index: -1;
  }
  &__design_invert {
    position: absolute;
    height: 6rem;
    width: 25%;
    top: -1rem;
    left: 0;
    background-color: #181c2c;
    border-radius: 0 0 0 100%;
  }
  &__design_invert-section {
    position: absolute;
    height: 6rem;
    width: 75%;
    top: -1rem;
    right: 0;
    background-color: #181c2c;
  }
  &__header {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0.7rem;
    @include tablet{
      font-size: 1.75rem;
    }
  }
  &__icons {
    max-width: 14rem;
    margin: 2rem auto 0;
    @include tablet {
      justify-content: center;
      margin-top: 0;
    }
  }
  &__icon-container {
    background-color: #9290c3;
    border: 0.31rem solid #535c91;
    outline: 1px solid white;
  }
  &__contact_icon {
    width: 1.6rem;
    filter: invert(100%) sepia(35%) saturate(2%) hue-rotate(314deg)
      brightness(111%) contrast(101%);
  }
  &__wrapper{
    @include tablet{
      padding: 0 2.5rem;
      display: flex;
      gap: 5rem;
      max-width: 50rem;
      margin: 0 auto;
    }
  }
  
}

.contact__link:hover .footer__icon-container{
    background-color:#535c91;
    border: 0.31rem solid #9290C3;
}


@include tablet{
  
  .footer_content {
    width: 50%;
  }
  .footer_content p {
    width: 70%;
  }
  

  .footer_icon-container {
    width: 3.75rem;
    height: 3.75rem;
  }
  .footer_contact_icon {
    width: 1.875rem;
  }
  .resume {
    height: 1.875rem;
  }

  .footer_design {
    height: 9rem;
    top: -8.9rem;
  }
  .footer_design_invert {
    height: 9rem;
  }
  .footer_design_invert-section {
    height: 9rem;
  }
}

@include desktop {
  .footer {
    margin-top: 4rem;
  }
  h5 {
    font-size: 2rem;
  }
  .footer_wrapper {
    display: flex;
    gap: 5rem;
    padding-left: 0rem;
    padding-right: 0rem;
    max-width: 100%;
  }
  .footer_content {
    width: 100%;
  }
  .footer_content p {
    width: 37%;
  }
  .footer_icons {
    width: 50%;
    flex-direction: row;
    row-gap: 1.4rem;
    column-gap: 1.3rem;
    justify-content: center;
    margin-top: 0;
  }
  .footer_icons li {
    width: 3.75rem;
  }

  .footer_icon-container {
    width: 3.75rem;
    height: 3.75rem;
  }
  .footer_contact_icon {
    width: 1.875rem;
  }
  .resume {
    height: 1.875rem;
  }

  .footer_design {
    height: 15rem;

    top: -14.9rem;
  }
  .footer_design_invert {
    height: 15rem;
  }
  .footer_design_invert-section {
    height: 15rem;
  }
}

